terraform {
  required_providers {
    aws = {
      source  = "hashicorp/aws"
      version = "~> 3.0"  # Specify the AWS provider version constraint here
    }
  }
}

provider "aws" {
  region     = "ap-south-1"
  access_key = "AKIA5VYTWOXCT2IRPGQF"
  secret_key = "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"
}
